@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@layer base {
	:root {
		--ring-color: 0 68 98;
		--second-ring-color: 255 255 255;
		--bg-color: #222;
	}

	[type="text"],
	label,
	select {
		@apply text-sm;
	}

	[type="checkbox"]:focus,
	[type="checkbox"]:hover {
		--tw-ring-color: rgb(var(--ring-color));
		@apply bg-white border-[--bg-color];
	}

	[type="text"]:focus {
		--tw-ring-color: rgb(var(--second-ring-color));
		@apply bg-white border-[--bg-color];
	}

	[type="checkbox"]:checked,
	[type="checkbox"]:checked:focus,
	[type="checkbox"]:hover,
	[type="checkbox"]:hover:checked {
		--tw-ring-color: rgb(var(--ring-color));
		@apply bg-[--bg-color] border-[--bg-color];
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.triangle-container {
	position: relative;
}

.triangle-container::before {
	content: "";
	position: absolute;
	top: -10px; /* Ajusta la posición */
	right: 5px; /* Centra el triángulo horizontalmente */

	border-style: solid;
	border-width: 0 10px 10px 10px; /* Ancho de los bordes: derecha, abajo, izquierda */
	border-color: transparent transparent white transparent; /* Solo el borde inferior tiene color */
	width: 0;
	height: 0;
}

.modifier {
	border: solid 0.5px black;
	border-radius: 50%;
	height: 36px;
	width: 56px;
	margin: auto !important;
	text-align: center;
	font-weight: bold;
	background-color: white;
	-webkit-appearance: none;
}

.modifier::-webkit-outer-spin-button,
.modifier::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.modifier {
	-moz-appearance: textfield;
}

@media (width < 768px) {
	.modifier {
		height: 34px;
		width: 52px;
	}
}
